
.login{
    
}

.login_head{
    display: flex;
    background-color: #fff;
    padding: 10px 159.6px;
    align-items: center;
    .logo{
        .logo_img{
            width: 300px;
        }
        
    }
    .title{
        margin-left: 20px;
        span{
            font-size: 30px;
        }
    }
}
.login_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 626px;
    background-color: #4eac4b;
    .wrap{
        background-color: #fff;
        width: 400px;
        padding: 20px;
        border-radius: 5px;
        .content_title{
            margin-bottom: 12px;
            font-size: 20px;
        }
        .input{
            width: 100%;
            padding: 4px;
            .item{
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;
            }
            span{
                font-size: 14px;
                opacity: 0.8;
            }
        }
        .content_btn{
            margin: 10px;
            .btn_login{
                width: 100%;
                padding: 10px;
                background-color: #4eac4b;
                border-radius: 4px;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
            }
            &:hover{
                opacity: 0.8;
            }
        }
        .content_forgot_password{
            margin: 10px;
            a{
                text-decoration: none;
                color: #729567;
                font-size: 14px;
            }
        }
        .content_to_register{
            text-align: center;
            margin: 10px;
            .content_to_register_icon{
                margin: 0 5px;
                font-size: 14px;
            }
        }
    }
}