.clear{
    clear: both;
}
.main{
    margin: 10px 159.6px;
    .way{
        .link_way{
            text-decoration: none;
            &:hover{
                opacity: 0.7;
            }
        }
        .icon{
            margin: 0 5px;
            font-size: 12px;
        }
    }
    .show_page_title{
        border-bottom: 2px solid #4EAC4B;
        position: relative;
        margin-top: 26px;
        .brand_title{
            position: relative;
            font-weight: bold;
            font-size: 14px;
            background-color: #4EAC4B;
            color: white;
            width: max-content;
            padding: 0 10px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            p{
                margin: 0;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
            }
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                right: -27px;
                border-right: 27px solid transparent;
                border-bottom: 35px solid rgb(0, 78, 30);
                bottom: 0;
            }
        }
    }
}
/* product */
.product_list{
    margin: 20px -8px 0;
    display: flex;
    flex-wrap: wrap;
    a{
        width: 23.685%;
        margin: 8px;
        border: 1px solid #ccc;
    }
}
.product_item{
    width: 100%;
    height: 100%;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    .product_img{
        width: 100%;
        display: block;
        &:hover{
            opacity: 0.6;
        }
    }
    .product_body{
        padding: 16px;
        font-size: 15px;
        text-align: center;
        background-color: white;
        .product_name{
            font-size: 16px;
            color: #000;
            font-weight: 500;
            &:hover{
                color: palevioletred;
                cursor: pointer;
            }            
        }
        .product_price{
            margin: 15px 0;
            color: red;
            font-weight: bold;
            font-size: 16px;
        }
    }
}