.contact{
    margin: 10px 0;
    .way{
        margin-bottom: 10px;
        .link_way{
            text-decoration: none;
        }
        .icon{
            margin: 0 5px;
            font-size: 12px;
        }
    }
    .contact_title{
        margin-bottom: 15px;
        span{
            font-size: 28px;
            font-weight: bold;
        }
    }
}
.contact{

}
.link_way{

}
.icon{

}
.contact_title{

}
.contact_content{

}